<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="skeleton.css">
		<link rel="stylesheet" href="styletest.css">
	</head>
	<body>
		
		<div id="app" class='container'>
			
		    <!-- This element's contents will be replaced with your component. -->
		</div>
		<script src='app.js'></script>
	</body>
</html>